<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.78.0" targetFramework="native" />
  <package id="boost_graph-vc141" version="1.78.0" targetFramework="native" />
  <package id="boost_math_c99-vc140" version="1.78.0" targetFramework="native" />
  <package id="Leon.Armadillo" version="9.800.2.3" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
</packages>